@media (max-width: 1550px) {
  .whatwedo {
    padding-bottom: 0;
  }
}

@media (max-width: 1340px) {
  body {
    padding: 70px;
  }
  .section {
    margin: 70px 0;
  }
  .logo {
    margin: 15px 0;
  }
  .nav {
    height: 80px;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  .card__img img {
    width: 27vw;
  }
  .card {
    padding: 30px;
    margin: 30px 0;
  }
}

@media (max-width: 1150px) {
  .card__text {
    margin: 20px 0;
  }
  .whatwedo__list {
    padding: 0 10px;
  }
  .card__about {
    margin: 10px;
    margin-left: 50px;
  }
  .card:nth-child(even) .card__about {
    margin: 10px;
    margin-right: 50px;
  }
}

@media (max-width: 1050px) {
  .card,
  .card:nth-child(even) {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    max-width: 450px;
    margin: 30px auto;
  }
  .card__img img {
    width: 100%;
  }
  .card__text {
    margin: 20px;
  }
  .card__about {
    margin: 20px;
  }
}

@media (max-width: 775px) {
  body {
    padding: 50px;
  }
  .section {
    margin: 50px 0;
  }
  .whatwedo {
    border: 50px solid #caa477;
  }
}

@media (max-width: 670px) {
  body {
    padding: 20px;
    padding-top: 80px;
  }
  .nav.menu_active {
    height: 100vh;
  }
  .nav__body {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
  }
  .menu-button {
    display: block;
  }
  .menu {
    left: 0;
    top: 80px;
    text-align: center;
    height: 0;
    width: 100%;
    padding: 0px;
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
    -webkit-transition: 0.3s;
    transition: 0.3s;
    -webkit-transform-origin: top;
            transform-origin: top;
    margin-top: 80px;
  }
  .menu.menu_active {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
  .menu__item {
    float: none;
    -webkit-transition: 0.2s;
    transition: 0.2s;
    opacity: 0;
  }
  .menu.menu_active .menu__item {
    opacity: 1;
  }
  .menu.menu_active .menu__item_1 {
    -webkit-transition-delay: 0.1s;
            transition-delay: 0.1s;
  }
  .menu.menu_active .menu__item_2 {
    -webkit-transition-delay: 0.2s;
            transition-delay: 0.2s;
  }
  .menu.menu_active .menu__item_3 {
    -webkit-transition-delay: 0.3s;
            transition-delay: 0.3s;
  }
  .menu.menu_active .menu__item_4 {
    -webkit-transition-delay: 0.4s;
            transition-delay: 0.4s;
  }
  .menu__link {
    display: block;
    border-top: 1px solid rgba(0, 0, 0, 0.4);
    border-bottom: 1px solid rgba(0, 0, 0, 0.4);
    margin: 10px;
  }
  .section {
    margin: 20px 0;
  }
  .advantages {
    padding: 50px;
  }
  .whatwedo {
    border: 20px solid #caa477;
  }
  .whatwedo__list {
    padding: 0;
  }
  .card__about,
  .card:nth-child(even) .card__about {
    margin: 20px 0;
  }
  .card__text {
    margin: 20px 0;
  }
  .options__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
  }
  .options__item {
    margin: 5px 0 5px 20px;
  }
}

@media (max-width: 585px) {
  .advantages__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .contact__body {
    padding: 50px 30px;
  }
  .contact .container {
    padding: 0;
  }
}

@media (max-width: 450px) {
  .header__title {
    font-size: 35px;
  }
  .header__subtitle {
    font-size: 20px;
  }
  .card {
    padding: 20px;
  }
}

@media (max-width: 370px) {
  .header__link {
    width: 100%;
    padding: 15px;
  }
  body {
    padding: 10px;
  }
  .whatwedo {
    border: 10px solid #caa477;
  }
  .whatwedo .container {
    padding: 0 10px;
  }
  .contact__body {
    padding: 50px 10px;
  }
  .footer__link {
    padding: 0;
  }
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #101010;
  }
  .nav {
    background: rgba(16, 16, 16, 0.8);
    color: #fff;
  }
}

@media (prefers-color-scheme: dark) and (max-width: 670px) {
  .menu__link {
    border-top: 1px solid rgba(255, 255, 255, 0.4);
    border-bottom: 1px solid rgba(255, 255, 255, 0.4);
  }
}

@media (prefers-color-scheme: dark) {
  .menu-button__line {
    background-color: #fff;
  }
  .whatwedo__title {
    color: #fff;
  }
}
